*{ margin:0; padding:0;}
body,html { font:100% normal Arial, Helvetica, sans-serif; background-color:#FFFBF; color:#2A3F55; font-size:25px; size:20PX; font-size:24px;
height:100%;
width:100%;
margin-top:6%;
padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	background: #ffffff;
}

table
{
border-collapse:collapse;
border:0px;
margin-left:17%;
width:66%;

}
tr
{
}
tr:hover
{
font:bold, Arial, Helvetica, sans-serif;
text-shadow:#0000FF;
padding:1;
background-color:#FFCCFF;
}
td
{
text-align:center;
}
